.wpp-boton{
    background-color: #81d742;
    color: white;
    border-style: none;
    border-radius: 30px;

    padding: 5px 15px 10px 15px;
  

    position: fixed;
    bottom: 2%;
    right: 2%; 
}

.wpp-pop-up{
    height: 17px;
    margin-right: 3px;
}

@media (min-width: 375px) and (max-width: 767px) {
    .wpp-boton{
        display: none;
    }
}