.categoria-container{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 65px;
    margin-right: 16px;
    margin-left: 2px;
    text-align: center;
    padding-top: 40px;
    width: 291px;
    height: 160px;
    transition: all .4s ease-in-out;
    font-size: 20px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

    background-image: url('../images/ositos_gominola.jpg');

}
.nombre-categoria-color{
    color: black;
}
.categoria-container:hover{
    color: #feae17;
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-20px, -20px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 1px 3px 15px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 15px 8px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 15px 8px rgba(0,0,0,0.75);

    -webkit-text-stroke-width: 1px;

}


.ver-mas-button{
    background-color:#feae17;
    border-radius: 2em;
  
    font-family:'Roboto',sans-serif;
    font-weight:100;
    font-size: 12px;
    border-color: #f1a516;

    padding-top: 4px;
    padding-bottom: 5px;
    transition: all 0.9s;
    margin-top: 10px;
    color:white;

    border-style: solid;

  
    -webkit-text-stroke-color: none;
}

.ver-mas-button:hover{
    background-color: #ab7324;
}

@media (min-width: 375px) and (max-width:30em){
    .ver-mas-button{
        display:block;
        margin: 0.2em auto;
    }
} 