.compraFinalizada-container{
    margin-left: 455px;
    margin-top: 70px;
}

.volver-home{
    margin-left: 145px;
    margin-top: 12px;
    background-color: #00c74c;
    border-radius: 20px;
    border-style: none;
    color: white;

    padding: 5px 10px 5px 10px;
}

#little-space{
    margin-left: 80px;
}

@media (min-width: 375px) and (max-width: 767px) {
    
    .compraFinalizada-container{
        margin-left: 0;
        margin-top: 150px;
    }
    .volver-home{
        margin-left: 120px;
    }

    #espacio-mobile{
        margin-left: 22px;
        width: 87%;
    }
}