.finalizar-compra{
    color:#555555;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: 550;
}

.detalles-compra{
    margin-left: 10%;
    color:#555555;
    margin-top: 4%;
    font-size: 22px;
    font-weight: 550;
}


.finalizar-compra-button{
    color: white;
    background-color: #abcb42;
    border-style: none;
    margin-top: 1.8%;
    margin-left: 2%;
    margin-bottom: 4%;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
    font-weight: 650;
    transition: all 1s;
}

.finalizar-compra-button:hover{
    background-color: #3c6b33;
}

.datos-container{
    margin-left: 10%;
    margin-top: 3%;
    width: 55%;
}

.fila-container{
    display: flex;
}

.fila-uno-container{
    margin-right: 3%;
}

#segunda-fila{
    margin-top: 2%;
}

.texto-factura-info{
    font-weight: 700;
    margin-left: 2%;
}

.box-shadow{
    -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);

    border-style: none;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}

.error-factura{
    color: red;
    font-weight: 650;
    margin-left: 18%;
    margin-top: 2%;
    transition: all 1s;
}

.calcular-envio{
    margin-left: 7%;
    color: #aaca42;
    background-color: white;
    border: 0.5px solid black;
    border: 1px solid #aaca42;
    margin-top: 1.8%;
    margin-bottom: 4%;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
    font-weight: 650;
    transition: all 1s;
}

.calcular-envio:hover{
    color: white;
    background-color: #aaca42;
}

.envio-valor{
    margin-top: 3%;
    text-transform: uppercase;
}

.a{
    display: flex;
}


.metodo-pago-container{
    border: 1px solid #feae17;
    height: 80%;
    width: 25%;
    padding-left: 1%;
}

.tu-pedido{
    color:#555555;
    font-weight: 590;
    font-size: 20px;
    margin-top: 8.5%;
    margin-bottom: 5%;
}

.factura-producto-precio{
    display: flex;
    color: #777777;
    font-weight: 550;
    border-bottom: 1px solid #777777;
    width: 92.3%;
}

.inception{
    display: flex;
   
}

#producto{
    margin-right: 63.7%;
}
#valor{
    margin-right: 55%;
}
#envio{
    margin-right: 25%;
}
#costo-envio{
    margin-left: 205%;
    font-weight: 650;
}

#costo-sin-envio{
    font-weight: 650;
}
#costo-con-envio{
    font-weight: 650;
}

.elementos-factura{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.flex-buttons{
    display: flex;
}

.spinner-finalizar-compra{
    background-color: #aaca42;
    border: 1px solid #aaca42;
    width: 180px;
    margin-top: 1.8%;
    margin-bottom: 4%;
    margin-left: 2%;
    border-radius: 2px;
    padding: 8px 12px 8px 40px;
}