.finalizar-compra{
    color:#555555;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: 550;
}

.detalles-compra{
    margin-left: 10%;
    color:#555555;
    margin-top: 4%;
    font-size: 22px;
    font-weight: 550;
}


.finalizar-compra-button{
    color: white;
    background-color: #abcb42;
    border-style: none;
    margin-top: 1.8%;
    margin-left: 20%;
    margin-bottom: 4%;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
    font-weight: 650;
    transition: all 1s;
}

.finalizar-compra-button:hover{
    background-color: #3c6b33;
}

.datos-container{
    margin-left: 10%;
    margin-top: 3%;
}

.fila-container{
    display: flex;
}

.fila-uno-container{
    margin-right: 3%;
}

#segunda-fila{
    margin-top: 2%;
}

.texto-factura-info{
    font-weight: 700;
    margin-left: 2%;
}

.box-shadow{
    -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.66);

    border-style: none;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}

.error-factura{
    color: red;
    font-weight: 650;
    margin-left: 18%;
    margin-top: 4%;
    transition: all 1s;
}