.path{
    margin-top: 30px;
    margin-left: 120px;
    color:#a49595;
    text-transform: uppercase;
    font-size: 26px;

}
a {
    color:#a49595;
    text-transform: uppercase;
}
a:hover {
    color: #111;
}

.Resultados{
    margin-left: 30%;
    margin-top: 2.5%;
    font-size: 24px;
    color:#887777
}

.header-container{
    margin-left: 7%;
}

.categorias-de-categoria{
    margin-left: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}

.producto {
    margin: 0 44px;
    width: 200px;
    margin-bottom: 65px;
    height: 200px;
}

.paginador{
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.button-paginado{
    background-color:#feae17;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-right: 1%;
    transition: all 0.4s;
    font-size: 20px;
}

.button-paginado:hover{
    background-color:white;
    color:#feae17;
   
}
.galles{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 65px;
    margin-top: 40px;
}
.error-no-productos{
    text-transform: uppercase;
    color: red;
    font-weight: 700;
    margin-left: 350px;
}

@media (min-width: 375px) and (max-width: 767px) {
    .Resultados{
        margin-left: 30%;
        font-size: 18px;
        color:#887777
    }
    .header-container{
        margin-left: 3%;
    }
    .path{
        margin-top: 3.2%;
        margin-left: 5%;
        text-transform: uppercase;
        font-size: 15px;
    }

    .galles{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .paginador{
        margin-left: 0;
        margin-top: 15%;
        margin-bottom: 10%;
    }

}