.header-container{
    display: flex;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo-container{
    max-width: 100%;
    height: auto;
    max-height: 75px;
    
}

.image-logo-container{
    margin-right: 12%;
}