.username{
    margin-left: 5.5%;
    margin-top: 2%;
    font-size: 32px;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 550;
}
.email-user-profile{
    margin-left: 5.5%;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 550;
}

.pedidos-viejos{
    margin-left: 0;
    color: #7b7b7b;
    margin-bottom: 10%;
}

.aviso{
    text-transform: uppercase;
    margin-left: 420px;    
}

#aviso{
    margin-left: 435px;
}

.perfil-usuario-container{
    margin-left: 65px;
}


@media (min-width: 375px) and (max-width: 767px){

    .perfil-usuario-container{
        margin-left: 0;
    }

    .username{
        margin-left: 5%;
    }
    .pedidos-viejos{
       margin-bottom: 0;
    }

    .aviso{
        margin-left: 22px; 
    }
    
    #aviso{
        margin-left: 22px;
    }

}


