.producto-en-carro-description{
    display: flex;
    margin-left: 120px;
    width: 480px;
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #ececec;
}

.produto-en-carro-precio{
    margin-left: 50px;
    color:#5c9971;
    font-weight: 450;
}

.cantidad-en-carro{
    margin-left: 75px;
}

.precioTotal-en-carro{
    margin-left: 80px;
}

.nombreDeProducto{
    width: 200px;
}

.x-button{
    border-radius: 20px;
    border-style: solid;
    padding-bottom: 20px;
    height: 30px;
    align-items: center;
    color:#797979;
    margin-right: 4px;
}

@media (min-width: 411px) and (max-width: 767px){

    .producto-en-carro-description{
        margin-left: 5%;
    }   

}
