.producto-en-carro-description{
    display: flex;
    margin-left: 120px;
    width: 480px;
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #ececec;
}

.produto-en-carro-precio{
    padding-right: 80px;
    color:#5c9971;
    font-weight: 450;
    
}

.cantidad-en-carro{
    text-align: center;
}

.precioTotal-en-carro{
    text-align: center;
}

.nombreDeProducto{
    width: 300px;
}

.x-button{
    border-radius: 20px;
    border-style: solid;
    padding-bottom: 20px;
    height: 30px;
    align-items: center;
    color:#797979;
    margin-right: 4px;
}

@media (min-width: 375px) and (max-width: 767px){

    .producto-en-carro-description{
        margin-left: 5%;
    }   
    .nombreDeProducto{
        width: 33%;
        font-size: 14px;
        margin-right: 0;
    }
    .produto-en-carro-precio{
        margin-left: 0;
    }
    .cantidad-en-carro{
        margin-left: 32px;
    }
    .precioTotal-en-carro{
        margin-left: 32px;
    }
    .nombreDeProducto{
        font-size: 12px;
    }
}
