.Pedido-container{
    border: 2px solid #eeeeee;
    width: 50%;
    margin: 0.5% 0 1% 25%; 
    padding: 10px 0px 7px 20px;
}

.pedido-button{
    display: flex;
}

.button-repetir-pedido-container{
    margin-left: 14%;
    margin-top: 1.5%;
}

.nombre-cantidad{
    width: 50%;
}

.spinner-button{
    border: 1px solid black;
    border-radius: 8px;
    border-style: solid;
    background-color: #feae17;
    border-color: #f1a516;
    text-align: center;
    width: 90%;
    margin-left: 10px;
}

.cantidad-input{
    width: 50px;
    padding-left: 5%;
}



@media (min-width: 375px) and (max-width: 767px){
    .Pedido-container{
        width: 95%;
        margin: 7% 0 5% 2%;
        padding: 10px 0px 7px 20px;
    }
    .nombre-cantidad{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .a{
        font-weight: 800;
    }
    .pedido-button{
        display: flex;
        flex-direction: column;
        
    }

    .button-repetir-pedido-container{
        margin: 6% 0 2% 21%;
    }

    
}